@font-face {
  src: url("/limgul-font/woff/Limgul11.woff2") format("woff2");
  font-family: "Limgul11";
}

@font-face {
  src: url("/limgul-font/woff/Limgul12.woff2") format("woff2");
  font-family: "Limgul12";
}

@font-face {
  src: url("/limgul-font/woff/Limgul13.woff2") format("woff2");
  font-family: "Limgul13";
}

@font-face {
  src: url("/limgul-font/woff/Limgul14.woff2") format("woff2");
  font-family: "Limgul14";
}

@font-face {
  src: url("/limgul-font/woff/Limgul15.woff2") format("woff2");
  font-family: "Limgul15";
}

@font-face {
  src: url("/limgul-font/woff/Limgul16.woff2") format("woff2");
  font-family: "Limgul16";
}

@font-face {
  src: url("/limgul-font/woff/Limgul17.woff2") format("woff2");
  font-family: "Limgul17";
}

@font-face {
  src: url("/limgul-font/woff/Limgul18.woff2") format("woff2");
  font-family: "Limgul18";
}

@font-face {
  src: url("/limgul-font/woff/Limgul19.woff2") format("woff2");
  font-family: "Limgul19";
}

@font-face {
  src: url("/limgul-font/woff/Limgul20.woff2") format("woff2");
  font-family: "Limgul20";
}

@font-face {
  src: url("/limgul-font/woff/Limgul21.woff2") format("woff2");
  font-family: "Limgul21";
}

@font-face {
  src: url("/limgul-font/woff/Limgul22.woff2") format("woff2");
  font-family: "Limgul22";
}

@font-face {
  src: url("/limgul-font/woff/Limgul23.woff2") format("woff2");
  font-family: "Limgul23";
}

@font-face {
  src: url("/limgul-font/woff/Limgul24.woff2") format("woff2");
  font-family: "Limgul24";
}

@font-face {
  src: url("/limgul-font/woff/Limgul25.woff2") format("woff2");
  font-family: "Limgul25";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono11.woff2") format("woff2");
  font-family: "LimgulMono11";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono12.woff2") format("woff2");
  font-family: "LimgulMono12";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono13.woff2") format("woff2");
  font-family: "LimgulMono13";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono14.woff2") format("woff2");
  font-family: "LimgulMono14";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono15.woff2") format("woff2");
  font-family: "LimgulMono15";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono16.woff2") format("woff2");
  font-family: "LimgulMono16";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono17.woff2") format("woff2");
  font-family: "LimgulMono17";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono18.woff2") format("woff2");
  font-family: "LimgulMono18";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono19.woff2") format("woff2");
  font-family: "LimgulMono19";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono20.woff2") format("woff2");
  font-family: "LimgulMono20";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono21.woff2") format("woff2");
  font-family: "LimgulMono21";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono22.woff2") format("woff2");
  font-family: "LimgulMono22";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono23.woff2") format("woff2");
  font-family: "LimgulMono23";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono24.woff2") format("woff2");
  font-family: "LimgulMono24";
}

@font-face {
  src: url("/limgul-font/woff/LimgulMono25.woff2") format("woff2");
  font-family: "LimgulMono25";
}
