@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung11.woff2") format("woff2");
  font-family: "Suhgung11";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung12.woff2") format("woff2");
  font-family: "Suhgung12";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung13.woff2") format("woff2");
  font-family: "Suhgung13";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung14.woff2") format("woff2");
  font-family: "Suhgung14";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung15.woff2") format("woff2");
  font-family: "Suhgung15";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung16.woff2") format("woff2");
  font-family: "Suhgung16";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung17.woff2") format("woff2");
  font-family: "Suhgung17";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung18.woff2") format("woff2");
  font-family: "Suhgung18";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung19.woff2") format("woff2");
  font-family: "Suhgung19";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung20.woff2") format("woff2");
  font-family: "Suhgung20";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung21.woff2") format("woff2");
  font-family: "Suhgung21";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung22.woff2") format("woff2");
  font-family: "Suhgung22";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung23.woff2") format("woff2");
  font-family: "Suhgung23";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung24.woff2") format("woff2");
  font-family: "Suhgung24";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/Suhgung25.woff2") format("woff2");
  font-family: "Suhgung25";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono11.woff2") format("woff2");
  font-family: "SuhgungMono11";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono12.woff2") format("woff2");
  font-family: "SuhgungMono12";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono13.woff2") format("woff2");
  font-family: "SuhgungMono13";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono14.woff2") format("woff2");
  font-family: "SuhgungMono14";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono15.woff2") format("woff2");
  font-family: "SuhgungMono15";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono16.woff2") format("woff2");
  font-family: "SuhgungMono16";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono17.woff2") format("woff2");
  font-family: "SuhgungMono17";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono18.woff2") format("woff2");
  font-family: "SuhgungMono18";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono19.woff2") format("woff2");
  font-family: "SuhgungMono19";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono20.woff2") format("woff2");
  font-family: "SuhgungMono20";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono21.woff2") format("woff2");
  font-family: "SuhgungMono21";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono22.woff2") format("woff2");
  font-family: "SuhgungMono22";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono23.woff2") format("woff2");
  font-family: "SuhgungMono23";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono24.woff2") format("woff2");
  font-family: "SuhgungMono24";
}

@font-face {
  src: url("https://cdn.jsdelivr.net/gh/MonadABXY/suhgung-font/woff/SuhgungMono25.woff2") format("woff2");
  font-family: "SuhgungMono25";
}
