@font-face {
  src: url("/tangba-font/woff/Tangba11.woff2") format("woff2");
  font-family: "Tangba11";
}

@font-face {
  src: url("/tangba-font/woff/Tangba12.woff2") format("woff2");
  font-family: "Tangba12";
}

@font-face {
  src: url("/tangba-font/woff/Tangba13.woff2") format("woff2");
  font-family: "Tangba13";
}

@font-face {
  src: url("/tangba-font/woff/Tangba14.woff2") format("woff2");
  font-family: "Tangba14";
}

@font-face {
  src: url("/tangba-font/woff/Tangba15.woff2") format("woff2");
  font-family: "Tangba15";
}

@font-face {
  src: url("/tangba-font/woff/Tangba16.woff2") format("woff2");
  font-family: "Tangba16";
}

@font-face {
  src: url("/tangba-font/woff/Tangba17.woff2") format("woff2");
  font-family: "Tangba17";
}

@font-face {
  src: url("/tangba-font/woff/Tangba18.woff2") format("woff2");
  font-family: "Tangba18";
}

@font-face {
  src: url("/tangba-font/woff/Tangba19.woff2") format("woff2");
  font-family: "Tangba19";
}

@font-face {
  src: url("/tangba-font/woff/Tangba20.woff2") format("woff2");
  font-family: "Tangba20";
}

@font-face {
  src: url("/tangba-font/woff/Tangba21.woff2") format("woff2");
  font-family: "Tangba21";
}

@font-face {
  src: url("/tangba-font/woff/Tangba22.woff2") format("woff2");
  font-family: "Tangba22";
}

@font-face {
  src: url("/tangba-font/woff/Tangba23.woff2") format("woff2");
  font-family: "Tangba23";
}

@font-face {
  src: url("/tangba-font/woff/Tangba24.woff2") format("woff2");
  font-family: "Tangba24";
}

@font-face {
  src: url("/tangba-font/woff/Tangba25.woff2") format("woff2");
  font-family: "Tangba25";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono11.woff2") format("woff2");
  font-family: "TangbaMono11";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono12.woff2") format("woff2");
  font-family: "TangbaMono12";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono13.woff2") format("woff2");
  font-family: "TangbaMono13";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono14.woff2") format("woff2");
  font-family: "TangbaMono14";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono15.woff2") format("woff2");
  font-family: "TangbaMono15";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono16.woff2") format("woff2");
  font-family: "TangbaMono16";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono17.woff2") format("woff2");
  font-family: "TangbaMono17";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono18.woff2") format("woff2");
  font-family: "TangbaMono18";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono19.woff2") format("woff2");
  font-family: "TangbaMono19";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono20.woff2") format("woff2");
  font-family: "TangbaMono20";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono21.woff2") format("woff2");
  font-family: "TangbaMono21";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono22.woff2") format("woff2");
  font-family: "TangbaMono22";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono23.woff2") format("woff2");
  font-family: "TangbaMono23";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono24.woff2") format("woff2");
  font-family: "TangbaMono24";
}

@font-face {
  src: url("/tangba-font/woff/TangbaMono25.woff2") format("woff2");
  font-family: "TangbaMono25";
}
