@font-face {
  src: url("/umdot-font/woff/Umdot11.woff2") format("woff2");
  font-family: "Umdot11";
}

@font-face {
  src: url("/umdot-font/woff/Umdot12.woff2") format("woff2");
  font-family: "Umdot12";
}

@font-face {
  src: url("/umdot-font/woff/Umdot13.woff2") format("woff2");
  font-family: "Umdot13";
}

@font-face {
  src: url("/umdot-font/woff/Umdot14.woff2") format("woff2");
  font-family: "Umdot14";
}

@font-face {
  src: url("/umdot-font/woff/Umdot15.woff2") format("woff2");
  font-family: "Umdot15";
}

@font-face {
  src: url("/umdot-font/woff/Umdot16.woff2") format("woff2");
  font-family: "Umdot16";
}

@font-face {
  src: url("/umdot-font/woff/Umdot17.woff2") format("woff2");
  font-family: "Umdot17";
}

@font-face {
  src: url("/umdot-font/woff/Umdot18.woff2") format("woff2");
  font-family: "Umdot18";
}

@font-face {
  src: url("/umdot-font/woff/Umdot19.woff2") format("woff2");
  font-family: "Umdot19";
}

@font-face {
  src: url("/umdot-font/woff/Umdot20.woff2") format("woff2");
  font-family: "Umdot20";
}

@font-face {
  src: url("/umdot-font/woff/Umdot21.woff2") format("woff2");
  font-family: "Umdot21";
}

@font-face {
  src: url("/umdot-font/woff/Umdot22.woff2") format("woff2");
  font-family: "Umdot22";
}

@font-face {
  src: url("/umdot-font/woff/Umdot23.woff2") format("woff2");
  font-family: "Umdot23";
}

@font-face {
  src: url("/umdot-font/woff/Umdot24.woff2") format("woff2");
  font-family: "Umdot24";
}

@font-face {
  src: url("/umdot-font/woff/Umdot25.woff2") format("woff2");
  font-family: "Umdot25";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono11.woff2") format("woff2");
  font-family: "UmdotMono11";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono12.woff2") format("woff2");
  font-family: "UmdotMono12";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono13.woff2") format("woff2");
  font-family: "UmdotMono13";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono14.woff2") format("woff2");
  font-family: "UmdotMono14";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono15.woff2") format("woff2");
  font-family: "UmdotMono15";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono16.woff2") format("woff2");
  font-family: "UmdotMono16";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono17.woff2") format("woff2");
  font-family: "UmdotMono17";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono18.woff2") format("woff2");
  font-family: "UmdotMono18";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono19.woff2") format("woff2");
  font-family: "UmdotMono19";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono20.woff2") format("woff2");
  font-family: "UmdotMono20";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono21.woff2") format("woff2");
  font-family: "UmdotMono21";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono22.woff2") format("woff2");
  font-family: "UmdotMono22";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono23.woff2") format("woff2");
  font-family: "UmdotMono23";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono24.woff2") format("woff2");
  font-family: "UmdotMono24";
}

@font-face {
  src: url("/umdot-font/woff/UmdotMono25.woff2") format("woff2");
  font-family: "UmdotMono25";
}
