{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block nav_class %}bottom-nav--content bottom-nav--hidden{% endblock %}

{% block content %}
  {% include "partials/font/assets.html" %}

  <div class="container container--font" style="font-family: '{{ page.extra.font_family | default(value='sans-serif') }}';">
    {% include "partials/font/header.html" %}
    {% include "partials/font/tester.html" %}
    {% include "partials/font/glyph_browser.html" %}
    {% if page.extra.survey_embed_url is defined %}
    <section class="info-card font-survey">
      <h2 class="font-survey__title">설문 참여하기</h2>
      <iframe
        class="font-survey__frame"
        src="{{ page.extra.survey_embed_url }}"
        width="640"
        height="930"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
      >로드 중...</iframe>
    </section>
    {% endif %}
    {% include "partials/font/info_cards.html" %}
    {% include "partials/font/related_fonts.html" %}
  </div>

  {% include "partials/font/scripts.html" %}
{% endblock content %}
