{% extends "base.html" %} {% block nav_class %}bottom-nav--content{% endblock %} {% block content %}
<div class="container">
  <h1 class="section-title section-title--center">{{ section.title }}</h1>
  <div class="post-grid">
    {% for page in section.pages %}
    <div
      class="post-card"
      style="font-family: '{{ page.extra.font_family | default(value='sans-serif') }}';"
      onclick="location.href='{{ page.permalink | safe }}';"
    >
      <div class="post-card__img font-preview-box post-card__img--empty">
        <span>{{ page.extra.preview_text | default(value=page.title) }}</span>
      </div>
      <div class="post-card__info">
        <div class="post-card__header">
          <h3 class="post-card__title">{{ page.title }}</h3>
        </div>
        <p class="post-card__desc">{{ page.description | default(value="설명이 없습니다.") }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
