{% extends "base.html" %} {% block title %}Monad ABXY{% endblock %} {% block content %}
<div class="home-header">
  <div class="logo-container">
    <img src="images/logo-white.png" alt="Monad ABXY Logo" class="logo-image" />
  </div>
  <h1>Monad ABXY</h1>
</div>

<div class="card-grid">
  <!-- <div class="card" onclick="location.href = 'notes/'">
    <div class="card__icon">
      <i data-lucide="book-open"></i>
    </div>
    <h2 class="card__title">노트</h2>
  </div> -->

  <div class="card" onclick="location.href = 'apps/'">
    <div class="card__icon">
      <i data-lucide="app-window"></i>
    </div>
    <h2 class="card__title">앱</h2>
  </div>

  <div class="card" onclick="location.href = 'fonts/'">
    <div class="card__icon">
      <i data-lucide="type"></i>
    </div>
    <h2 class="card__title">폰트</h2>
  </div>
</div>
{% endblock content %}
